* {
    box-sizing: border-box;
    outline: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    touch-action: pan-y
}

body {
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    font-family: var(--fonts);
    background-color: rgb(36, 39, 46);
    background-size: cover;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none
}

.back {
    background-color: rgb(16, 16, 20);
}

.left {
    height: 100%;
    width: 25rem;
    border-right: 1px solid white;
    background-color: rgb(28, 32, 34);
}

.btn {
    position: absolute;
    margin: 20px;
    margin-top: 4rem;
    width: 200px;
}

.login {
    /* display: none; */
    position: fixed;
    height: 580px;
    width: 470px;
    background-color: rgb(151, 151, 151);
    border: #ebebeb solid 1px;
    left: 50%;
    top: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.login-title {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    position: relative;
    cursor: move;
}

.login-input-content {
    margin-top: 20px;
}

.login-input input.list-input {
    float: left;
    line-height: 35px;
    height: 35px;
    width: 350px;
    border: #ebebeb 1px solid;
    text-indent: 5px;
}

.login-button {
    width: 50%;
    margin: 30px auto 0px auto;
    line-height: 40px;
    font-size: 14px;
    border: #ebebeb 1px solid;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
}

.login-button a {
    display: block;
}


.login-input {
    overflow: hidden;
    margin: 0px 0px 20px 0px;
}

.login-input label {
    float: left;
    width: 90px;
    padding-right: 10px;
    text-align: right;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
}

.login-title span {
    position: absolute;
    font-size: 12px;
    right: -20px;
    top: -30px;
    background: #ffffff;
    border: #ebebeb solid 1px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.b1 {
    right: 0;
}

.right {
    position: absolute;
    top: 13px;
    left: 28rem;
    height: 100%;
    width: 123rem;
    /*background-color: pink;*/
    color: #fff;
    z-index: 999;
}